* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    width: 100%;
}

.fixed {
    background-image: url(/Images/graytexture.png);
}
.padding {
    margin-top: 3em;
    margin-bottom: 3em;
}

h2 {
    font-family: "koulen", sans-serif;
    color: #E4954D;
    margin-top: 2em;
    margin-bottom: 1em;
}

h3 {
    font-family: "abhaya-libre", sans-serif;
    color: #E4954D;
    margin-top: 2em;
    margin-bottom: 1em;
}



 .content h1 {
    font-family: "koulen" sans-serif;
    color: #000;
    font-size: 200%;
}
 




 









    






#flexContainer {
    display: flex;
    flex-direction: row;
    border: 2px #98E1E1;
    margin-top: 20px;
           
}

.flex-item {
    
    justify-content: center;
    background-color: #C399E3;
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 10px;
    padding-top: 10px;
    }

.flex-item h4 {
   text-align: center;
}

.flex-item p {
    text-align: center;
 }


.skillImage1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
    }

.skillImage {
    display: inline-block;
}



h4 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 24px;
    margin-top: 75px;
}


.workGrid {
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: 400px 400px;
    column-gap: 60px;
    row-gap: 60px;
    margin-left: 100px;
    margin: top 40px;
    margin-bottom: 50px;
    margin-right: 100px;
    grid-template-areas: "my area";
    background-color: #C399E3;
}
    

 







.btn {
    border-radius: 9px;
    font-family: "Abhaya Libre" sans-serif;
    color: #000;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #E4954D;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    border: solid #fff;
}

p {
    font-size: 16px;
    line-height: 21px;
    text-align: justify;
    font-family: "koulen", sans-serif;
}